* {
    margin: 0px;
    padding: 0px;
}

#sayt {
    width: 1200px;
    /* border: 3px solid red; */
    margin: 10px auto;
}

#header {
    background-color: rgb(80, 78, 226);
    height: 300px;
    /* width: 1200px; */
    /* padding: 10px; */
}

#header img {
    display: block;
    width: 900px;
    height: 290px;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
}

#header ul {
    float: right;
    width: 255px;
    height: 180px;
    background-image: radial-gradient(rgb(255, 240, 32), rgb(255, 154, 1));
    border: 2px solid gray;
    border-radius: 10px;
    display: block;
    list-style: none;
    margin-top: -290px;
    padding-left: 50px;
    padding-top: 20px;
}

#header ul li a {
    margin-top: 3px;
    display: block;
    text-decoration: none;
    color: rgb(0, 26, 255);
    height: 18px;
    width: 150px;
}

#header ul li a:hover {
    width: 150px;
    background-color: yellow;
    color: rgb(206, 0, 0);
    text-indent: 20px;
}

#h3 {
    width: 300px;
    height: 50px;
    margin-top: -108px;
    float: right;
    background-color: white;
}


/* bolim 2ga keldik */

#faq {
    clear: both;
    height: 100px;
    background-color: #ccccc1;
}

#faq1 {
    border: 2px solid black;
    background-color: #ebebdb;
    border-radius: 20px;
    padding: 0px 20px;
    float: left;
    margin: 30px 0px 0px 200px;
}

#faq2 {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ebebdb;
    float: left;
    margin: -30px 50px 0px 900px;
    padding: 5px 20px;
}


/* bolim 3ga keldik*/

#b33 {
    float: left;
    width: 800px;
    margin-top: 0px;
    padding: 10px 20px;
    background-image: repeating-linear-gradient( 90deg, rgb(48, 0, 104), rgb(47, 112, 233));
}

#b33 p {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

#b31 {
    float: right;
    width: 340px;
    height: 700px;
    padding: 10px;
    background-image: repeating-linear-gradient( 180deg, rgb(137, 101, 179), rgb(89, 202, 202));
}


/* footerga keldik */

#tagline {
    background-color: #ccccc1;
    width: 830px;
    float: left;
    padding: 5px;
}

#under_tagline {
    color: rgb(137, 101, 179);
    float: left;
    align-items: center;
    padding: 5px;
}

#footer {
    clear: both;
}